*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-image: url("../images/background.png");
}

.header-logo h1{
    font-weight: normal;
    width: 450px;
    padding: 10px 0;
    font-size: 58px;
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
    text-align: center;
    letter-spacing: 2px;
}

.header-logo span {
    color: #d95267;
}

.header-logo a{
    text-decoration: none;
    color: gray;
}
.container25{
    width: 1050px;
    background-color: aliceblue;
    margin: 0 auto;
    min-height: 20vh;
}
.container75{
    width: 1050px;
    display: flex;
    background-color: aliceblue;
    margin: 0 auto;
    min-height: 80vh;
    align-items: center;
    padding-left: 50px;
    line-height: 250%;
    color: #26A69A;
}
.left-side{
    font-size: 38px;
    flex-shrink: 8;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.right-side
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    margin-top: -50px;
}

.capital{
    font-size: 60px;
    color: #ff5260;
    font-weight: bold;
}
.imprint{
    text-decoration: underline;
    line-height: 1.2em;
    font-weight: bold;
    color: #a63b8d;
}

.container{
    width: 1050px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 60px 0 0 20px;
}
.container-header{
    text-align: center;
    font-size: 20px;

}
.header-menu{
    background: #d95267;
    padding: 2px 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #751b1b;
    border-bottom: 1px solid #751b1b;
}


.header-menu a{
    color: white;
}

.sticky{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

header{
    height: 100vh;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}
ul a{
    color: #fff;
    text-decoration: none;
    display: block;
}
ul > li {
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px dashed #751b1b;
}

ul > li:first-child{
    border-left: 1px dashed #751b1b;
}

ul > li:hover{
    background-color: #fc7f91;
}
ul > li:hover > a {
    color: #b63440;
}

.about-me{
    background-image: url("../images/darkness.png");
    background-attachment: fixed;
}

.portfolio{
    background-color: aliceblue;
}

.technologies{
    background-image: url("../images/laptopScreen.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.technologies-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    max-height: 90vh;
}

.technologies-single-box{
    border: 1px solid red;
    padding: 5px 10px;
}

.technologies-single-box img{
    max-height: 120px;
    width: auto;
}

footer{
    background-color: #1d39ff;
}

.my-photo{
    margin-top: 30px;
    margin-right: 20px;
    width: 25%;
    height: auto;
    border-radius: 50%;
    float: left;
    opacity: 0.9;
}
/*photo clearfix*/
.my-photo::before, .my-photo::after{
    content: "";
    display: block;
    clear: both;
}

.about-me h3{
    color: #eeeeee;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 35px;
    border: 1px solid #ebebeb;
    background-color: #2c2c2c;
    width: 80%;
    margin: 10px auto;
}
.about-me .container-header{
    color: white;
}
.about-me p{
    color: #ababab;
    padding: 20px 30px;
    font-size: 23px;
}

.about-me p:nth-of-type(2n){
   text-align: right;
}

.projects-box{
    margin-right: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.single-box{

}

.single-box img{
    width: 300px;
    height: auto;
}

.single-box:hover{
    max-height: 300px;
    width: auto;
    opacity: 0.5;
}