*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    background-color: aliceblue;
    margin: 0 auto;
}
.header-menu{
    background: #1E1E1E;
    padding: 10px 0;
}
.header-menu a{
    color: white;
}
header{
    height: 100vh;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
}
li a{
    text-decoration: none;
}
li a:hover{
    text-decoration: none;
    background-color: #c3c9ce;
}

.about-me{
    height: 100vh;
    background-color: gold;
}

.portfolio{
    height: 100vh;
    background-color: #7dff6d;
}

.technologies{
    height: 100vh;
    background-color: #ff3a50;
}

footer{
    height: 100vh;
    background-color: #1d39ff;
}