body{
    background-color: #f7ccff;
    font-size: 30px;
}

h1{
    text-align: center;
}
.container{
    width: 80%;
    height: 600px;
    background-color: aliceblue;
    margin: 0 auto;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
}
li a{
    text-decoration: none;
}