*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-image: url("../images/background.png");
}
.header-logo a{
    text-decoration: none;
    color: gray;
}
.container{
    width: 1050px;
    background-color: aliceblue;
    margin: 0 auto;
}
.header-menu{
    background: #d95267;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #751b1b;
    border-bottom: 1px solid #751b1b;

}
.header-logo{
    width: 450px;
    padding: 40px 0;
    font-size: 58px;
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
    text-align: center;
    letter-spacing: 2px;
}
.header-logo span {
    color: #d95267;
}
.header-menu a{
    color: white;
}

.sticky{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

header{
    height: 100vh;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}
ul a{
    color: #fff;
    text-decoration: none;
    display: block;
}
ul > li {
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px dashed #751b1b;
}

ul > li:first-child{
    border-left: 1px dashed #751b1b;
}

ul > li:hover{
    background-color: #cf6969;
}
ul > li:hover > a {
    color: #451717;
}

.about-me{
    height: 100vh;
    background-color: gold;
}

.portfolio{
    height: 100vh;
    background-color: #7dff6d;
}

.technologies{
    height: 100vh;
    background-color: #ff3a50;
}

footer{
    height: 100vh;
    background-color: #1d39ff;
}